.filtros {
    min-height: 200px;
    flex-grow: 1;
}

.productos {
    padding: 20px 0;
    background-color: #ddd;
    min-height: 500px;
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 69vh;
}

#accordionExample button,
#accordionExample a {
    text-decoration: none;
    color: var(--black-color);
}

#accordionExample button:hover,
#accordionExample a:hover {
    color: var(--main-color);
}

.todosProductos {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--main-color);
    border: 1px solid transparent;
    transition: all .2s ease;
}

.todosProductos:hover {
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #2f9cc3;
    color: var(--main-color);
}

.product {
    width: 220px;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    transition: all .2s ease;
}

.product:hover {
    background-color: #6db7d1;
}

.product:hover p {
    color: #fff;
}

.product a {
    text-decoration: none;
}

.product p {
    font-size: 25px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 10px;
}

.product img {
    width: 200px;
    height: 143px;
    margin-left: -10px;
    border-radius: 20px;
    object-fit: cover;
}

@media only screen and (min-width: 768px) {
    .main-content {
        flex-direction: row;
    }

    .red {
        min-width: 400px;
        max-width: 400px;
    }
}
