*{
    box-sizing: border-box;
}

#cajaImg {
    border: solid blue 2px;
}

img {
    width: 60%;
}

#cajaDetalle {
    border: solid green 2px;
}

header {
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: indigo solid 2px;
}

footer {
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: indigo solid 2px;
}

#otrosDetalles {
    border: cornflowerblue solid 2px;
}

li {
    list-style: none;
}