/* Header */

.header {
	background-color: var(--black-color);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header__logo img {
	width: 120px;
	margin-left: 10px;
}

.buttons {
	display: flex;
}

.account__button {
	margin-right: 100px;
	background-color: var(--main-color);
	padding: 5px 10px;
	border: none;
	border-radius: 20px;
}

.account__button a {
	color: #fff;
	text-decoration: none;
}

.menu {
	background-color: var(--white-color);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	border: 1px solid var(--black-color);
	position: fixed;
	right: 20px;
	z-index: 9999999999999;
	outline: none !important;
}

.menu i {
	color: var(--main-color);
	font-size: 20px;
	margin-top: 5px;
}