/* Utils */
.heading {
  color: var(--main-color);
  text-align: center;
  font-weight: 700;
}

@keyframes animatedMenu {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Carousel */

.main {
  min-width: 100%;
}

.main-menu {
  min-width: 300px;
  max-width: 500px;
  height: 700px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999999;
  display: none;
  border-left: 1px solid black;
  animation: animatedMenu 0.3s ease forwards;
}

.menu-is-open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-container,
.swiper-slide img {
  width: 100%;
}

.swiper-container {
  position: relative;
}

.swiper-heading {
  position: absolute;
  bottom: 20px;
  padding: 10px;
}

.swiper-heading h2 {
  position: relative;
  color: var(--white-color);
  font-size: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.swiper-heading h3 {
  position: absolute;
  color: var(--white-color);
  font-size: 15px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.swiper-slide.hero-slider::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.6)
  );
  background-size: cover;
}

.swiper-slide .btnInfo {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 5px 5px 0;
  font-size: 12px;
  color: var(--white-color);
  padding: 5px 15px;
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  transition: all 0.4s ease;
  z-index: 10;
}

.swiper-slide .btnInfo a {
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

.swiper-slide .btnInfo:hover {
  background-color: var(--white-color);
}

.swiper-slide .btnInfo:hover a {
  color: var(--main-color);
}

/* Welcome */
.welcome {
  padding: 80px 10px 0 10px;
}

.welcome p {
  text-align: center;
}

/* Categories */
.categories {
  padding: 120px 40px 0 40px;
}

.categories__screen-item {
  position: absolute;
  padding-top: 3px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-100%);
  transition: 0.5s;
}

.cateogies__screen-item h3 {
  font-size: 10px;
}

.categories__screen-item p {
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding-bottom: 3px;
  font-weight: 700;
}

.categories__screen-item a {
  margin-top: 5px;
  font-size: 14px;
  background-color: var(--main-color);
  color: var(--white-color);
  align-self: center;
  padding: 5px 10px;
  border: none;
  border-radius: 30px;
}

.split {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  max-width: 100%;
  margin-top: 30px;
  background-color: #000;
  opacity: 1;
}

.split .screen {
  position: relative;
  display: flex;
  flex-grow: 2;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  height: 400px;
  opacity: 1;
}

.split:hover .screen {
  opacity: 0.3;
}

.split .screen:hover {
  flex-grow: 5 !important;
  opacity: 1;
}

.split .screen:hover .categories__screen-item {
  transform: translateX(0);
  transition-delay: 0.4s;
}

.split .consoles {
  background-image: url("/images/categorias/consoles.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.split .games {
  background-image: url("/images/categorias/a8efde39d47d591af2e973eb31a45ed5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.split .electro {
  background-image: url("/images/categorias/console-controller-gamer-gaming-21067.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.split .merch {
  background-image: url("/images/categorias/merchandising.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Trending */
.trending {
  margin-top: 30px;
  padding-top: 30px;
}

.trending-heading {
  background-color: var(--main-color);
  width: 100%;
  padding: 20px 0;
}

.trending-heading h2 {
  color: var(--white-color);
}

.swiper-container.trending-swiper {
  margin-top: 30px;
  padding: 0 40px;
  position: relative;
}

.swiper-slide .btnInfo-destacado {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 5px 5px 0;
  font-size: 15px;
  color: var(--white-color);
  padding: 8px 20px;
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  transition: all 0.4s ease;
  z-index: 999;
  cursor: pointer;
}

.swiper-slide .btnInfo-destacado a {
  color: var(--white-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Newsletter */
.newsletter {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  padding: 0 0 30px 0;
}

.newsletter__title {
  padding: 20px 0;
  width: 100%;
}

.newsletter__title h2 {
  color: var(--white-color);
}

.newsletter__form {
  width: 90%;
  margin-top: 10px;
  background-color: var(--white-color);
  border-radius: 30px;
  padding: 20px 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter__form input {
  width: 80%;
  border: none;
  border: 1px solid #2f9cc3;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px 30px;
}

.newsletter__form input::placeholder {
  color: var(--main-color);
}

.newsletter__form button {
  margin-top: 20px;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #2f9cc3;
  font-size: 15px;
}

.loginNone {
  display: none;
}

/* Media Queries */
@media only screen and (min-width: 576px) {
  .swiper-container.trending-swiper {
    height: 600px;
  }

  .trending {
    padding-bottom: 50px;
  }

  .swiper-container.trending-swiper .swiper-slide {
    padding-top: 30px;
    margin-top: 40px;
  }

  .swiper-wrapper .swiper-slide img {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 40px;
  }

  .swiper-slide .btnInfo-destacado {
    bottom: 90%;
    right: 50%;
    transform: translateX(50%);
  }

  #swiper-hero .swiper-slide img {
    min-width: 100%;
    margin: 0;
  }

  .split .games {
    background-position: top;
  }
}

/* MQ */

@media only screen and (min-width: 768px) {
  .swiper-container.trending-swiper {
    height: 700px;
  }
}

@media only screen and (min-width: 992px) {
  .swiper-container {
    height: 600px;
  }

  .swiper-heading {
    position: absolute;
    left: 30px;
    bottom: 60px;
    padding: 20px;
  }

  .swiper-heading h2 {
    font-size: 40px;
  }

  .swiper-heading h3 {
    font-size: 25px;
  }

  .swiper-slide.hero-slider img {
    position: relative;
    z-index: -1;
  }

  .swiper-slide.hero-slider::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.6)
    );
    background-size: cover;
  }

  .swiper-slide .btnInfo {
    position: absolute;
    left: 80%;
    bottom: 5%;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 40px;
    transform: translateX(-50%);
  }

  .split {
    flex-direction: row;
    height: 400px;
  }

  .split .screen {
    height: 400px;
  }

  .categories__screen-item {
    padding: 10px;
    width: 400px;
    height: 150px;
  }

  .categories__screen-item p {
    font-size: 15px;
  }

  .swiper-slide.trending img {
    width: 450px;
  }

  form {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .split {
    height: 800px;
  }

  .split .screen {
    height: 800px;
  }

  .categories__screen-item {
    width: 500px;
    height: 200px;
  }

  .swiper-slide .btnInfo {
    position: absolute;
    bottom: 12%;
  }

  .swiper-wrapper.trending-items img {
    width: 500px;
    margin: 0 0 0 20%;
  }

  .swiper-wrapper.trending-items button {
    margin-bottom: -250px;
    margin-right: -200px;
  }

  .split {
    flex-direction: row;
    height: 400px;
  }

  .split .screen {
    height: 400px;
  }

  .categories__screen-item {
    padding: 10px;
    width: 400px;
    height: 150px;
  }

  .swiper-slide.trending img {
    width: 450px;
  }
}
