:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

html {
    width: 100%;
}

body {
    background: linear-gradient(to right bottom, rgb(0, 99, 228), rgb(173, 209, 255));
}

main {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 69vh;
}

h2 {
    color: #fff;
}

form {
    margin: 60px 0;
    background-color: #fff;
    border-radius: 30px;
    padding: 50px 0;
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-right: 20px;
}

.email,
.password {
    width: 300px;
}

input[type=file] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 158px;
}

.credentials {
    border-radius: 30px;
    min-width: 150px;
    max-width: 400px;
    border: 1px solid rgb(0, 99, 228, 1);
    outline: none;
    padding: 10px 20px;
}

.register {
    margin-top: 20px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #2f9cc3;
    font-size: 15px;
}
