/* Media Queries */
@media only screen and (min-width: 576px) {
	.footer__container-item {
		width: 100%;
		text-align: center;
	}
	.swiper-container.trending-swiper {
		height: 600px;
	}

	.trending {
		padding-bottom: 50px;
	}

	.swiper-container.trending-swiper .swiper-slide {
		padding-top: 30px;
		margin-top: 40px;
	}

	.swiper-wrapper .swiper-slide img {
		max-width: 50%;
		margin-left: 25%;
		margin-top: 40px;
	}
	.swiper-slide .btnInfo-destacado {
		bottom: 90%;
		right: 50%;
		transform: translateX(50%);
	}

	#swiper-hero .swiper-slide img {
		min-width: 100%;
		margin: 0;
	}

	.split .games {
		background-position: top;
	}
}
@media only screen and (min-width: 768px) {
	.footer__container {
		width: 100%;
		justify-content: center;
	}

	.footer__container-item {
		width: 33.3%;
	}

	.social img {
		width: 100%;
	}

	.swiper-container.trending-swiper {
		height: 700px;
	}
}
@media only screen and (min-width: 992px) {
	.swiper-container {
		height: 800px;
	}
	.swiper-slide .btnInfo {
		position: absolute;
		left: 50%;
		bottom: 30%;
		font-size: 20px;
		padding: 20px 40px;
		border-radius: 40px;
		transform: translateX(-50%);
	}
	.split {
		flex-direction: row;
		height: 600px;
	}

	.split .screen {
		height: 600px;
	}

	.categories__screen-item {
		width: 350px;
		height: 200px;
	}
	.categories__screen-item p {
		font-size: 15px;
	}

	form {
		width: 50%;
	}

	.footer__container-item img {
		width: 200px;
	}
}
@media only screen and (min-width: 1200px) {
	.split {
		height: 800px;
	}

	.split .screen {
		height: 800px;
	}

	.categories__screen-item {
		width: 500px;
		height: 200px;
	}

	.swiper-slide .btnInfo {
		position: absolute;
		bottom: 12%;
	}

	.swiper-wrapper.trending-items img {
		width: 500px;
		margin: 0 0 0 20%;
	}
	.swiper-wrapper.trending-items button {
		margin-bottom: -250px;
		margin-right: -200px;
	}
}
