.main-menu {
    min-width: 300px;
    max-width: 500px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 250px;
    z-index: 9999999;
    display: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    animation: animatedMenu 0.3s ease forwards;
}

.top {
    height: 80px;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
}

.login__button,
.login__button:active,
.login__button:link {
    background-color: var(--main-color);
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    margin-right: 30px;
    justify-self: flex-end;
}

.login__button a,
.login__button a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 15px;
}

.login-big,
.login-big:active,
.login-big:link {
    outline: none !important;
    margin-top: 20px;
    background-color: var(--main-color);
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    justify-self: flex-end;
    margin-right: 0;
    width: 100px;
}

.login-big a,
.login-big a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 15px;
}

.no-logueado {
    margin: 100px auto;
    text-align: center;
    font-size: 16px;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    position: absolute;
    top: 80px;
    padding-top: 20px;
}

.user-name {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}

.user-avatar {
    display: flex;
    justify-content: center;
}

.user-avatar img {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #000;
}

nav {
    width: 100%;
}

nav ul {
    background-color: #000;
    list-style: none;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
}

nav ul a,
nav ul a:hover{
    text-decoration: none;
}

nav ul li {
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

nav ul li:hover {
    background-color: var(--main-color);
    transition: all .2s ease;
}

.menu-is-open {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animatedMenu {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}