.main-menu {
    min-width: 300px;
    max-width: 500px;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
    display: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    animation: animatedMenu 0.3s ease forwards;
}

.top {

}

.menu-is-open {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animatedMenu {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}