* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  font-family: 'Nunito', sans-serif;
  font-size: unset;
  color: #2f9cc3;
  background-color: #fff;
  min-height: 680px;
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.card__item {
  min-height: 300px;
}

.card__item .item-img img {
  object-fit: contain;
}

.medios-pago {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.medios-pago div {
  margin: 20px 0;
}

.btn-primary {
  margin-top: 25px;
}

.card-img-top {
  width: 150px;
}

.mje-cliente {
  padding: 15px;
  font-weight: bold;
  margin: 150px auto 0 auto;
  text-align: center;
}

.mas-productos {
  background-color: transparent;
  transition: all .4s ease;
  border: none;
}

.mas-productos a {
  color: var(--main-color);
}

.mas-productos:hover {
  background-color: var(--main-color);
}

.mas-productos:hover a {
  color: #fff;
}

.modal fade btn__compras{
  font-family: 'Nunito', sans-serif;
  font-size: unset;
  color: #2f9cc3;
  background-color: #fff;
}

.form-control {
  width: 100%;
  display: inline-block;
}

.btn :hover {
  text-decoration: none;
}

.cta {
  text-decoration: none;
  color: var(--main-color);
}

.cta:hover {
  color: var(--main-color);
  text-decoration: none;
}

button[data-toggle] {
  color: var(--main-color);
  text-decoration: none;
}

button[data-toggle]:hover {
  color: var(--main-color);
  text-decoration: none;
}

div[id="collapseThree"] {
  text-align: center;
}

button[type="submit"] {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .medios-pago {
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0;
    align-items: flex-start;
  }

  .card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}