* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: unset;
  color: #2f9cc3;
  background-color: #fff;
}

.medios-pago {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  margin-top: 25px;
}

.card-img-top {
  width: 150px;
}

header,
footer,
.mje-cliente {
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.modal fade btn__compras{
  font-family: "Nunito", sans-serif;
  font-size: unset;
  color: #2f9cc3;
  background-color: #fff;
}

.qtyBox {
  display: flex;
  align-content: center;
}

.qty_box {
  width: 20%;
}

.form-control {
  width: 100%;
  display: inline-block;
}

.btn :hover {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .medios-pago {
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0;
  }
}