h2 {
	font-family: 'Nunito', sans-serif;
	color: #2f9cc3;
	background-color: #fff;
}

h3 {
	font-family: 'Nunito', sans-serif;
	color: #2f9cc3;
	background-color: #fff;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}

.photoProfile {
	border-radius: 50%;
	object-fit: cover;
}

.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
}

img {
	object-fit: cover;
}

.TituloCat {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	padding: 5px 10px;
	border-radius: 20px;
	margin: 30px;
	color: #2f9cc3;
}

.category-1 {
	cursor: pointer;
}

.login__button,
.login__button:active,
.login__button:link {
	background-color: var(--main-color);
	padding: 5px 10px;
	border: none;
	border-radius: 20px;
}

.login__button a {
	text-decoration: none;
	color: var(--white-color);
	font-size: 15px;
}

.form-label-group {
	margin-bottom: 12px;
	border-radius: 50%;

}

.background {
	text-align: center;
}