h2 {
	font-family: 'Nunito', sans-serif;
	color: #2f9cc3;
	background-color: #fff;
}

img {
	border-radius: 50%;
	object-fit: cover;
}

.login button,
.login button:active,
.login button:link {
	background-color: var(--main-color);
	padding: 5px 10px;
	border: none;
	border-radius: 20px;
	margin-right: 80px;
}

.login button a {
	text-decoration: none;
	color: var(--white-color);
	font-size: 15px;
}