@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Nunito:400,700,700i|Tomorrow:400,600,600i|Varela+Round&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --main-color: #2f9cc3;
}

body {
    background-color: whitesmoke;
    text-align: center;
}

#cajaImgPrd img {
    width: 100%;
}

#detalle {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#productosRelacionados {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#imgProductosRelacionados {
    margin-top: 15px;
    margin-bottom: 15px;
}

#descripcion {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fas {
    font-size: 2rem;
}

.imgPrdRelacionado {
    width: 200px;
    height: 200px;
}

span {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .imgPrdRelacionado {
        width: 170px;

    }
}