.container {
	padding: 0 60px;
}

h2 {
	font-family: 'Nunito', sans-serif;
	color: #2f9cc3;
	background-color: #fff;
}

h3 {
	font-family: 'Nunito', sans-serif;
	color: #2f9cc3;
	background-color: #fff;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}

.photoProfile {
	border-radius: 50%;
	object-fit: cover;
}

.detalle_imagen {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 100%;
}

.descripcion {
	display: flex;
	flex-direction: column;
	align-items: space-around;
	justify-content: center;
}

.detalle {
	flex-grow: 5;
	max-width: 100%;
}

.imagen {
	margin-left: 40px;
	flex-grow: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.descripcion {
	margin-top: 50px;
}

#inputProducto {
	width: 100%;
	align-self: center;
}

.form-label-group {
	margin-bottom: 12px;
	border-radius: 50%;
}

.envio {
	color: var(--white-color);
	font-family: 'Nunito', sans-serif;
	align-self: center;
	margin: 30px 0;
	padding: 10px 20px;
	border: none;
	border-radius: 30px;
	background-color: var(--main-color);
	transition: all .2s ease;
}

.envio:hover {
	background-color: var(--white-color);
	color: var(--main-color);
	border: 1px solid #2f9cc3;
	font-weight: 600;
}