* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: unset;
  color: #2f9cc3;
  background-color: #fff;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.card__item {
  min-height: 300px;
}

.card__item .item-img img {
  object-fit: contain;
}

.medios-pago {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.medios-pago div {
  margin: 20px 0;
}

.btn-primary {
  margin-top: 25px;
}

.card-img-top {
  width: 150px;
}

header,
footer,
.mje-cliente {
  text-align: center;
  padding: 15px;
  font-weight: bold;
}

.modal fade btn__compras{
  font-family: "Nunito", sans-serif;
  font-size: unset;
  color: #2f9cc3;
  background-color: #fff;
}

.form-control {
  width: 100%;
  display: inline-block;
}

.btn :hover {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .medios-pago {
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0;
    align-items: flex-start;
  }

  .card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}