main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 69vh;
}

.card {
    padding: 0;
    text-align: center;
}

.card img {
    width: 20rem;
    border-radius: 50%;
}

.card ul {
    list-style: none;
}
