<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto "X"</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <header>Aca va el header</header>
    
    <div class="container-fluid">
        
        <div class="row">
            
            <div id="cajaImg" class="col-5">
                <img src="/images/consolas/ps4-pro.jpg" alt="Play Station 4 Pro">
            </div>
            
            <div id="cajaDetalle" class="col-4">
                <h3>Detalle de producto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem placeat repellat sequi molestias et aut ut saepe voluptatibus eum sunt corrupti excepturi numquam, quisquam quidem.</p>
                <button>Comprar</button>

            </div>

            <div id="otrosDetalles" class="col-3">
                <div class="row">
                    <ul>
                        <li><button>Stock</button></li>
                        <li><button>Cuotas</button></li>
                        <li><button>Envio</button></li>
                    </ul>
                </div>
            </div>
            
        </div>
        
    </div>
    
    <footer>
        Aca va el footer
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>