<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="nav-bar">
            <img src="\images\logo\logo.jpeg"> 
        <div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Registracion</h5>
                  <form class="form-signin">
                    <div class="form-label-group">
                        <input type="Usuario" id="inputUsuario" class="form-control" placeholder="Usuario" required autofocus>
                        <label for="Usuario">Usuario</label>
                      </div>
                
                    <div class="form-label-group">
                      <input type="Contraseña" id="inputContraseña" class="form-control" placeholder="Contraseña" required>
                      <label for="inputPassword">Contraseña</label>
                    </div>
                      <div class="form-label-group">
                        <input type="Nombre" id="inputNombre" class="form-control" placeholder="Nombre" required autofocus>
                        <label for="inputNombre">Nombre</label>
                      </div>
                      <div class="form-label-group">
                        <input type="Telefono" id="inputTelefono" class="form-control" placeholder="Telefono" required autofocus>
                        <label for="inputTelefono">Telefono</label>
                      </div>  
                      <div class="form-label-group">
                        <input type="Provincia" id="inputProvincia" class="form-control" placeholder="Provincia" required autofocus>
                        <label for="inputProvincia">Provincia</label>
                      </div>
                      <div class="form-label-group">
                        <input type="Localidad" id="inputLocalidad" class="form-control" placeholder="Localidad" required autofocus>
                        <label for="inputNombre">Localidad</label>
                      </div>
                      <div class="form-label-group">
                        <input type="DNI" id="inputDNI" class="form-control" placeholder="DNI" required autofocus>
                        <label for="inputNombre">DNI</label>
                      </div>
                      <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Correo Electronico</label>
                       </div> 
                     
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Recordar Contraseña</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Registrate</button>
                    <hr class="my-4">
                  </form>
              </div>
            </div>
    </div>
    </div>
  </body>
</html>