<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head-links') %>
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <%- include('./partials/header') %>

    <main class="main">
      <div class="main-menu">
        <p>ACA VA LA MAGIA</p>
      </div>
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper" id="swiper-hero">
          <!-- Slides -->
          <div class="swiper-slide hero-slider">
            <div class="swiper-heading">
              <h2>Regresa el clásico de la PlayStation</h2>
              <h3>Ahora remasterizado para la Ps4</h3>
            </div>
            <img src="/images/home-carousel/misma-resolucion/ctr.png" alt="Crash image" />
            <button class="btnInfo"><a href="/productos">Ver más</a></button>
          </div>
          <div class="swiper-slide hero-slider">
            <div class="swiper-heading">
              <h2>El desafío más innovador en puzzle-games</h2>
              <h3>También remasterizado para la Ps4!</h3>
            </div>
            <img src="/images/home-carousel/misma-resolucion/catherine-full-body.png" alt="Catherine image" />
            <button class="btnInfo"><a href="/productos">Ver más</a></button>
          </div>
          <div class="swiper-slide hero-slider">
            <div class="swiper-heading">
              <h2>¿Estás listo para probar tu fuerza?</h2>
              <h3>El juego de combate más esperado del año</h3>
            </div>
            <img src="/images/home-carousel/misma-resolucion/mortal-kombat-11.png" alt="Mortal Kombat image" />
            <button class="btnInfo"><a href="/productos">Ver más</a></button>
          </div>
          <div class="swiper-slide hero-slider">
            <div class="swiper-heading">
              <h2>Finalmente llega la segunda entrega...</h2>
              <h3>¿Tenés lo necesario para lo que avecina?</h3>
            </div>
            <img src="/images/home-carousel/misma-resolucion/nioh-2.png" alt="Nioh 2 image" />
            <button class="btnInfo"><a href="/productos">Ver más</a></button>
          </div>
          <div class="swiper-slide hero-slider">
            <div class="swiper-heading">
              <h2>Para todos los que estaban esperando...</h2>
              <h3>finalmente llega <strong>RE2</strong> para la Ps4!</h3>
            </div>
            <img src="/images/home-carousel/misma-resolucion/resident-evil-2.png" alt="Resident Evil 2 image" />
            <button class="btnInfo"><a href="/productos">Ver más</a></button>
          </div>
          <div class="swiper-slide hero-slider">
            <div class="swiper-heading">
              <h2>La continuación de uno de los mejores videojuegos</h2>
              <h3>¡No podés dejar pasar The Last of Us 2!</h3>
            </div>
            <img src="/images/home-carousel/misma-resolucion/the-last-of-us-2.png" alt="The Last of Us 2 image" />
            <button class="btnInfo"><a href="/productos">Ver más</a></button>
          </div>
        </div>
      </div>

      <section class="welcome">
        <div class="container">
          <h1 class="heading">Bienvenido</h1>
          <p>
            GameFrontier nació con un enfoque claro: satisfacer la demanda de
            todo aquel que sienta una desenfranada necesidad de despejarse un
            poco de la realidad con un joystick en mano. Ya sea librando una
            feroz batalla para salvar el mundo o disputando el partido de tu
            vida, o tratando de adelantar a tu rival en la última recta de una
            carrera disputada.
          </p>
        </div>
      </section>

      <section class="categories">
        <h2 class="heading">Categorías</h2>
        <div class="split">
          <div class="screen consoles">
            <div class="categories__screen-item">
              <h3 class="heading">Consolas</h3>
              <p>Encontrá las consolas más potentes del mercado</p>
              <a href="/productos">Ver más</a>
            </div>
          </div>
          <div class="screen games">
            <div class="categories__screen-item">
              <h3 class="heading">Juegos</h3>
              <p>Tenemos la más amplia variedad de juegos</p>
              <a href="/productos">Ver más</a>
            </div>
          </div>
          <div class="screen electro">
            <div class="categories__screen-item">
              <h3 class="heading">Accesorios</h3>
              <p>Los complementos perfectos</p>
              <a href="/productos">Ver más</a>
            </div>
          </div>
          <div class="screen merch">
            <div class="categories__screen-item">
              <h3 class="heading">Merchandising</h3>
              <p>Los más populares objetos coleccionables</p>
              <a href="/productos">Ver más</a>
            </div>
          </div>
        </div>
      </section>

      <section class="trending">
        <div class="trending-heading">
          <h2 class="heading">Más buscados</h2>
        </div>
        <div class="swiper-container trending-swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper trending-items">
            <!-- Slides -->
            <div class="swiper-slide trending">
              <img src="/images/juegos/ps4/spyro.jpg" alt="Producto destacado" />
              <button class="btnInfo-destacado">
                <a href="/productos">Ver más</a>
              </button>
            </div>
            <div class="swiper-slide trending">
              <img src="/images/juegos/ps4/assassins-3.png" alt="Producto destacado" />
              <button class="btnInfo-destacado">
                <a href="/productos">Ver más</a>
              </button>
            </div>
            <div class="swiper-slide trending">
              <img src="/images/juegos/ps4/catherine.jpg" alt="Producto destacado" />
              <button class="btnInfo-destacado">
                <a href="/productos">Ver más</a>
              </button>
            </div>
            <div class="swiper-slide trending">
              <img src="/images/juegos/ps4/spiderman.jpg" alt="Producto destacado" />
              <button class="btnInfo-destacado">
                <a href="/productos">Ver más</a>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="newsletter">
        <div class="newsletter__title">
          <h2 class="heading">Newsletter</h2>
        </div>
        <form class="newsletter__form" action="">
          <input type="text" placeholder="Email" />
          <button type="submit">Enviar</button>
        </form>
      </section>
    </main>
    <%- include('./partials/footer') %>

    <script src="/js/swiper.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>

    <!-- Custom scripts -->
    <script>
      // Capturo elementos del DOM
      const menu = document.querySelector(".menu");
      const mainMenu = document.querySelector(".main-menu");
      const account = document.querySelector('.account__button').addEventListener('click', () => {

        if (typeof userId === 'undefined') {
          setTimeout(() => {
            Swal.fire({
              icon: 'error',
              title: 'Advertencia',
              text: 'Debe estar logueado',
              timer: 3000
            })
          }, 1000)
        }
      })


      // Muestro menu al clickear boton
      menu.addEventListener("click", () => {
        mainMenu.classList.toggle("menu-is-open");
      });
      const mySwiper = new Swiper(".swiper-container", {
        loop: true,
        loopedSlides: 4,
        effect: window.innerWidth > 992 ? "fade" : "slide",
        autoplay: {
          delay: 4000
        },
        slidesPerView: 1
      });
    </script>
  </body>

</html>