<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto "X"</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Nunito:400,700,700i|Tomorrow:400,600,600i|Varela+Round&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/cf7e7aeca2.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>
    
    <header class="header">
        <div class="header__logo">
            <img src="/images/logo/logo.jpeg" alt="GameFrontier logo" />
        </div>
        <div class="header__searchbar">
            <input class="form-control" type="text" placeholder="Buscar..." />
        </div>
        <div class="header__login">
            <button class="btnLogin"><a href="#">Mi cuenta</a></button>
        </div>
        <button class="menu"><i class="fas fa-bars"></i></button>
    </header>
    
    <section class="container-fluid">
        
        <div class="row">
            <div id="cajaImgPrd" class="col-12 col-md-4">
                <img src="/images/consolas/ps4-pro.jpg" alt="Play Station 4 Pro">
            </div>
            
            <div id="detalle" class="col-12 col-md-4">
                <h4>Play Station 4 Pro</h4>
                <h5>Consola</h5>
                <h6>Cod: 0303456</h6>
                <h6>Precio: Mucha Plata</h6>
                <h6>Qty: Las que quieras</h6>
                <a href="#"><i class="fas fa-cart-arrow-down"></i></a>           
            </div>
            
            <div id="descripcion" class="col-12 col-md-4">
                <h4>Descripción</h4>
                <p>Máquina del carajo que sale un huevo pero no importa... tenés que comprarla!!</p>
            </div>
            
            <div id="productosRelacionados" class="col-12">
                <h4>Productos Relacionados</h4>
            </div> 
            
            <section id="imgPrdRelacionados">
                <div class="col-12 col-md-3">
                    <img src="/images/electro/ps4-joystick-black.png" alt="Joytick PS4 Black">
                    <span>Producto Relacionado</span>
                </div>
                <div class="col-12 col-md-3">
                    <img src="/images/electro/wd-elements.jpg" alt="Camara PS4">
                    <span>Producto Relacionado</span>
                </div>
                <div class="col-12 col-md-3">    
                    <img src="/images/electro/king-64gb-data-travel.jpg" alt="Data Travel 64gb">
                    <span>Producto Relacionado</span>
                </div>
                <div class="col-12 col-md-3">
                    <img src="/images/electro/pendrive-leatherface.jpg" alt="Pendrive Leatherface">
                    <span>Producto Relacionado</span>
                </div>
            </section>
        </div>
        
    </section>
    
    <footer>
        <div class="footer__container">
            <div class="footer__container-item">
                <ul>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Locales</a></li>
                    <li><a href="#">Soporte</a></li>
                </ul>
            </div>
            <div class="footer__container-item">
                <ul>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="footer__container-item social">
                <img src="/images/logo/logo.jpeg" alt="GameFrontier logo" />
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>