<html lang="en">
	<head>
		<%- include('./partials/head-links') %>
		<link rel="stylesheet" href="/css/productCart.css" />
	</head>
	<body>
		<header>ACA VA EL HEADER</header>

		<section class="container-fluid">
			<div class="row" id="detalle">
				<div class="col-12">
					<span>Detalle de compra</span>
				</div>
			</div>

			<div class="row" id="titulos">
				<div class="col-3">
					<span>Items</span>
				</div>
				<div class="col-3">
					<span>Cantidad</span>
				</div>
				<div class="col-3">
					<span>Precio</span>
				</div>
				<div class="col-3">
					<span>Total</span>
				</div>
			</div>

			<div class="row" id="items">
				<div class="col-3">
					<span>Play Station 4</span>
				</div>
				<div class="col-3">
					<span>1</span>
				</div>
				<div class="col-3">
					<span>35MilPe</span>
				</div>
				<div class="col-3">
					<span>35MilPe</span>
				</div>
				<div class="col-3">
					<span>PES 2021</span>
				</div>
				<div class="col-3">
					<span>1</span>
				</div>
				<div class="col-3">
					<span>5MilPe</span>
				</div>
				<div class="col-3">
					<span>40MilPe</span>
				</div>
			</div>

			<div class="row" id="total">
				<div class="col-6"></div>
				<div class="col-3">
					<a href="#">Total</a>
				</div>
				<div class="col-3">
					<a href="#">Continuar</a>
				</div>
			</div>

			<div class="row" id="entrega">
				<div class="col">
					<span><a href="#">Entrega</a></span>
				</div>
			</div>
			<div class="row" id="pago">
				<div class="col">
					<span><a href="#">Pago | Cod. Descuento</a></span>
				</div>
			</div>
			<div class="row" id="confirmacion">
				<div class="col">
					<span><a href="#">Confirmar compra</a></span>
				</div>
			</div>
			<div class="row" id="mediosPago">
				<div class="col">
					<a href="#">Medios de Pago</a>
				</div>
			</div>
			<div class="row" id="aclaracion_logo">
				<div class="col-7">
					<p>Los precios expresados incluyen IVA</p>
					<p>Las imagenes son a modo ilustrativo</p>
					<p>La venta de productos esta sujeta a stock</p>
					<p>Copyrigth ®</p>
				</div>
				<div class="col-5">
					<img src="/images/logo/logo.jpeg" alt="Logo Game Frontier" />
				</div>
			</div>
		</section>

		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
	</body>
</html>
