<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head-links')%>
    <link rel="stylesheet" href="/css/cargaProducto.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/mediaQueries.css">
</head>
<body>
<%- include('./partials/header') %>
 Hola   
</body>
</html>