<footer>
    <div class="footer__container">
        <div class="footer__container-item">
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Locales</a></li>
                <li><a href="#">Soporte</a></li>
            </ul>
        </div>
        <div class="footer__container-item">
            <ul>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>
        <div class="footer__container-item social">
            <img src="/images/logo/logo.jpeg" alt="GameFrontier logo" />
            <ul>
                <li>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>