<header class="header">
  <div class="header__logo">
    <a href="/"><img src="/images/logo/logo.jpeg" alt="GameFrontier logo" /></a>
  </div>
  <div class="buttons">
    <button class="account__button">
      <a href="/carga-producto">Admin</a>
    </button>
  </div>
  <button class="menu"><i class="fas fa-bars"></i></button>
</header>