<header class="header">
	<div class="header__logo">
		<a href="/"><img src="/images/logo/logo.jpeg" alt="GameFrontier logo" /></a>
	</div>
	<div class="header__searchbar">
		<input class="form-control" type="text" placeholder="Buscar..." />
	</div>
	<div>
		<button class="login__button"><a href="/users/loginForm">Login</a></button>
	</div>
	<div class="header__login">
		<button class="btnLogin"><a href="/carga-producto">Mi cuenta</a></button>
	</div>
	<button class="menu"><i class="fas fa-bars"></i></button>
</header>