<header class="header">
  <div class="header__logo">
    <a href="/"><img src="/images/logo/logo.jpeg" alt="GameFrontier logo" /></a>
  </div>
  <div class="buttons">
    <% if (!userId) { %>
    <button class="login__button login">
      <a href="/users/loginForm">Login</a>
    </button>
    <% } %>

    <% if (userId) { %>
    <button class="login__button logout">
      <a href="/users/logout">Logout</a>
    </button>
    <% } %>

    <button class="account__button">
      <a href="/carga-producto">Mi cuenta</a>
    </button>
  </div>
  <button class="menu"><i class="fas fa-bars"></i></button>
</header>