<div class='main-menu'>
    <div class="top"></div>
    <div class="user-data">
        <div class="user-name">
            <p>Pepe</p>
        </div>
        <div class="user-avatar">
            <img src="/images/avatars/alexis-1583611069647.jpg" alt="Avatar de usuario">
        </div>
    </div>
    <nav>
        <ul>
            <a href="#"><li>Perfil</li></a>
            <a href="/productos"><li>Catálogo</li></a>
            <a href="#categorias"><li>Categorías</li></a>
            <a href="/carrito"><li>Carrito</li></a>
            <a href="#footer"><li>Contacto</li></a>
            <a href="#footer"><li>Soporte</li></a>
        </ul>
    </nav>
</div>