<div class='main-menu'>
    <div class="top"></div>
        <% if (typeof userId !== 'undefined' || typeof adminId !== 'undefined') { %>
        <div class="user-data">
            <div class="user-name">
                <% if (typeof userName !== 'undefined') { %>
                <p><%= userName %></p>
                <% } %>
            </div>
            <div class="user-avatar">
                <% if (typeof userAvatar !== 'undefined') { %>
                    <img src="/images/avatars/<%= userAvatar %>" alt="Avatar de usuario">
                <% } %>
            </div>
            <button class="login__button login-big">
                <a href="/logout">Logout</a>
            </button>
        </div>
        <% } else { %>
        <div class="no-logueado">
            <p>Parece que no estás logueado :(</p>
        </div>
        <% } %>
    <nav id="nav">
        <ul>
            <% if (typeof userId !== 'undefined') { %>
                <a href="/perfil"><li>Perfil</li></a>
            <% } else if (typeof adminId !== 'undefined') { %>
                    <a href="/admin/perfil"><li>Admin</li></a>
            <% } else { %>
                    <a href="/users/loginForm"><li>Login</li></a>
            <% } %>
            <a href="/productos"><li>Catálogo</li></a>
            <a href="/#categorias"><li>Categorías</li></a>
            <a href="/carrito"><li>Carrito</li></a>
            <a href="/#footer"><li>Contacto</li></a>
            <a href="/#footer"><li>Soporte</li></a>
        </ul>
    </nav>
</div>
